[submodule "3rdparty/Megatron-LM"]
	path = 3rdparty/Megatron-LM-workspace/Megatron-LM
	url = git@github.com:seonjinn/Megatron-LM.git
	branch = sj/super-v3-omni-vllm20-dynamiccp-mlm
	shallow = true
[submodule "3rdparty/Megatron-Bridge"]
	path = 3rdparty/Megatron-Bridge-workspace/Megatron-Bridge
	url = ssh://git@gitlab-master.nvidia.com:12051/smohsenitahe/Megatron-Bridge.git
	branch = aroshanghias/reconcile-nano-v3-mbridge-pins
	shallow = true
[submodule "3rdparty/Automodel-workspace/Automodel"]
	path = 3rdparty/Automodel-workspace/Automodel
	url = https://github.com/NVIDIA-NeMo/Automodel.git
	branch = yifu/bump-torch-and-hf
	shallow = true
[submodule "3rdparty/Gym-workspace/Gym"]
	path = 3rdparty/Gym-workspace/Gym
	url = https://github.com/DanialTaheri/Gym.git
	branch = aroshanghias/vllm-v20-torch-2.11
	shallow = true
